body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat";
}
.content {
  width: 980px;
  margin: 0 auto;
}
@media only screen and (max-width: 980px) {
  .content {
    width: 95%;
  }
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  width: 100%;
}
.input {
  display: inline-block;
  width: 250px;
  min-width: 100px;
  height: 45px;
  box-sizing: border-box;
  padding: 0 18px;
  font-size: 14px;
  line-height: 1.286;
  color: #fff;
  letter-spacing: normal;
  cursor: auto;
  background-color: rgba(255, 255, 255,0.149);
  border: 1px solid rgba(255, 255, 255,0.149);
  border-radius: 4px;
  outline: none;
}
.input:hover,
.input:active,
.input:focus {
  border: 1px solid #fff;
}
.select {
  position: relative;
  display: inline-block;
  width: 525px;
  cursor: pointer;
}
.select .input {
  width: 100%;
}
.select-down {
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -2px;
}
.button {
  display: inline-block;
  height: 45px;
  box-sizing: border-box;
  padding: 12px 33px;
  margin: 0;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: rgb(46, 113, 242);
  border: none;
  border-radius: 23px;
  outline: none;
  transition: .1s;
  -webkit-appearance: none;
}
.navbar {
  display: flex;

  padding-top: 48px;
  font-size: 0;
  font-weight: bold;
  line-height: 2.455;
  
  color: rgb(63, 48, 48);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar ul li {
  display: inline-block;
}
.navbar-lang li:not(.navbar-lang-active) {
  opacity: 0.5;
}
.navbar-lang li + li::before {
  margin: 0 15px;
  font-size: 11px;
  color: #fff;
  content: "/";
  opacity: 0.5;
}
.navbar-nav li + li {
  margin-left: 28px;
}
.navbar-social li + li {
  margin-left: 35px;
}
.banner {
  position: relative;
  height: 800px;
  overflow: hidden;
}
.banner-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  z-index: 10;
  width: 76px;
  height: 76px;
  margin-top: -22px;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(256,256,256,.3); 
  border-radius: 100%;
  outline: none;
}
.banner-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.banner-btn-left {
  left: 50%;
  margin-left: -490px;
}
.banner-btn-right {
  right: 50%;
  margin-right: -490px;
}
@media only screen and (max-width: 980px) {
  .banner-btn-left {
    left: 10px;
    margin-left: 0;
  }
  .banner-btn-right {
    right: 10px;
    margin-right: 0;
  }
}
.banner-item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.banner-item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgb(59, 61, 64);
  opacity: 0.502;
}
.banner-item.is-active {
  z-index: 1;
}
.banner-item.is-animating {
  transition: transform .4s ease-in-out;
}
.banner-content {
  position: relative;
  margin-top: 50px;
  font-size: 0;
  text-align: center;
}
.banner-title {
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.05;
  color: #fff;
}
.banner-desc {
  margin: 0;
  font-family: "PT Serif";
  font-size: 20px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.702);
}
@media only screen and (max-width: 760px) {
  .navbar {
    flex-direction: column;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-btn {
    transform: scale(.7);
  }
}
@media only screen and (max-width: 480px) {
  .banner-title {
    font-size: 24px;
  }
  .banner-desc {
    font-size: 16px;
  }
  .banner-btn {
    transform: scale(.7);
  }
}

.search {
  padding: 60px 0;
  font-size: 0;
  background-color: rgb(59, 61, 64);
}
.search-box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 980px) and (min-width: 481px) {
  .input + .select,
  .select + .button {
    margin-left: 10px;
  }
  .search-box {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 480px) {
  .input + .select,
  .select + .button {
    margin-top: 10px;
  }
  .banner {
    height: 600px;
  }
  .input,
  .select {
    width: 100%;
  }
  .search-box {
    flex-direction: column;
    align-items: stretch;
  }
}

.features {
  padding-top: 78px;
  padding-bottom: 58px;
  background-color: rgb(249, 249, 249);
}
.feature {
  padding: 32px 0;
  font-size: 0;
  text-align: center;
}
.feature-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.8;
  color: rgb(59, 61, 64);
  letter-spacing: 2px;
}
.feature-desc {
  margin: 0;
  font-family: "PT Serif";
  font-size: 14px;
  line-height: 1.3;
  color: rgb(101, 107, 111);
}
.feature-main .feature-title {
  margin: 0;
  font-size: 52px;
}
.feature-main .feature-desc {
  margin: 0;
  font-size: 20px;
}
@media only screen and (max-width: 760px) {
  .feature-main svg {
    transform: scale(0.7);
  }
  .feature-main .feature-title {
    font-size: 30px;
  }
}
.feature-list {
  display: flex;
}
.feature-list .feature {
  flex: 1;
}
.feature-list .feature + .feature {
  margin-left: 20px;
}
@media only screen and (max-width: 760px) {
  .feature-list {
    flex-wrap: wrap;
  }
  .feature-list .feature {
    flex-basis: auto;
    width: 50%;
  }
  .feature-list .feature + .feature {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .feature-list .feature {
    width: 100%;
  }
}